<nav>
  <ul>
    <li><a href="/" style="color: black">Home</a></li>
    <li><a href="/login" style="color: black">Login</a></li>
    <li><a href="/register" style="color: black">Register</a></li>
  </ul>
</nav>
